@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
    
    .flexDir{
        @apply flex flex-row items-center;
    }

    .flexCol{
        @apply flex flex-col gap-4 ;
    }
    
    .linkFont{
        @apply font-arialgeo text-[16px] text-color-primary ;
    }

    .titleFont{
        @apply font-tommaso text-[48px] text-color-primary ;
    }

    .titleFontBlack{
        @apply font-tommaso text-[40px] text-color-black ;
    }

    .paragraphFont{
            @apply font-arialgeo text-[24px] text-color-primary max-md:text-[20px];
    }

    .gradient{
        background: 
        url(/images/jujuna1.png) 88% bottom / 66.7% 100% no-repeat,
        url(/images/jujuna2.png) 100% center / calc(100% - 57.6%) 100% no-repeat,
        linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), 
        linear-gradient(233deg, #A583D1 25%, #724AA4 43%, #1E122E 81%);
    }

    .gradientMin{
        background:  
        url(/images/bottles.png) right bottom  no-repeat,
        linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), 
        linear-gradient(233deg, #A583D1 25%, #724AA4 43%, #1E122E 81%);
    }

    .aboutBG{
        @apply w-full h-full bg-no-repeat bg-center bg-cover bg-[url(/images/marani.png)];
    }

    .aboutBGMin{
        @apply w-full h-full bg-no-repeat bg-right-top bg-[url(/images/marani-mobile.png)] ;

    }

    .btn{
        @apply w-[126px] p-[14px] rounded-[50px] self-end font-arialgeo text-[18px] text-color-primary whitespace-nowrap;
    }
    
    .bottleBanner{
        @apply bg-[url(/images/bottle-banner.png)] w-full h-full bg-no-repeat bg-right-top 
        max-mobile:bg-[url(/images/bottle-banner-mob.png)];

    }

    .purpleBox{
        @apply flex flex-col gap-4 max-tablet:gap-1 py-[11.5px] max-tablet:w-[160px] px-[30px] bg-buttonColor-primary rounded-[10px]
        border-solid border-[1px] border-buttonColor-primary ;
    }

    .gridCocktails{
        @apply grid grid-cols-2 gap-[23px]
    }

    .borderB{
        @apply pb-[16px] border-b-[#848282] border-solid border-b-[1px]; 
    }

    .barBanner{
        @apply  bg-no-repeat bg-center bg-cover max-md:bg-left-bottom
        bg-[url(/images/banner2.png)];
    }

    .contactBanner{
        @apply  bg-[url(/images/banner1.png)]
        bg-no-repeat bg-center bg-cover  max-md:bg-right-bottom  max-mobile:bg-cover
        max-mobile:bg-[url(/images/banner1-mobile.png)];

    }

    .inputStyle{
        @apply w-[328px] rounded-[10px] font-arialgeo text-[12px] p-[10px] 
        bg-inputColor-primary  text-inputColor-secondary placeholder:text-inputColor-secondary
        max-mobile:w-[209px] max-mobile:text-[10px];
    }

    .navPosition {
        @apply absolute top-0 left-0 w-[50%] h-[100vh] z-10
        bg-backgroundColor-purpleMid py-16 px-16
        max-md:translate-x-0;
        transition: transform 0.5s ease-in-out;
    }
    
    .Invisible {
        @apply max-md:translate-x-[-100%];
    }
}
